ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.menu {
    background-color: blanchedalmond;
    border: 1px solid gray;
    border-radius: 0 0 20px 20px;
    position: fixed;
    width: 100%;
    top : 0;
    left: 0;
}
.menu > ul {
    display: flex;
    justify-content: space-around;
}